body {
	background: url('bg.jpg') no-repeat center center fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}

.well, .jumbotron, .navbar-default {
	background-color: rgba(78, 93, 108, 0.7);
	border-color: rgba(0, 0, 0, 0.4);
}
a {
	color: #FFFFFF;
}
.btn {
	border-radius: 5px;
}